*{
	box-sizing: border-box;
}

body{
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	/*min-width: 500px;*/
}

.container{
/*	width: 80%;*/
	margin: auto;
}

.clr{
	clear: both;
}

.head_container{
	width: 100%;
	display: flex;
	background: #1C1929;
	color: #fff;
	justify-content: space-between;
	padding: 0 4em;
	align-items: center;
	border-bottom: 4px solid red;
}

.nav_ul{
	display: flex;
	list-style: none;
}

.nav_ul li{
	padding: 1em;
}

.nav_ul a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#active{
	color: red;
}

.showcase{
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 50vh;
	opacity: 0.9;
	position: relative;
}

.showcase-text{
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showcase-text h1{
	font-size: 2rem;
}

.showcase-text p{
/*	color: #000;*/
}

.subscribe{
	height: 5em;
	background: #1F1F1F;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4em;
	overflow: hidden;
}

.subscribe_p{
	font-weight: bold;
}

.form .email_box{
	width: 14em;
	height: 2em;
	border: none;
	padding: 0 0.6em;
	border-radius: 4px;
}

.form .btn{
	padding: 0.5em 1em;
	border: none;
	border-radius: 5px;
	background: orange;
	color: #fff;
}

.service{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2em;
}

.box{
	padding: 1em 2em;
	text-align: center;
	font-size: 0.8rem;
}

.service-img{
	width: 5rem;
}

footer{
	background: coral;
	padding: 0.2em 2em;
	color: #fff;
	text-align: center;
}

@media(max-width: 650px) {
	.head_container{
		flex-direction: column;
	}
}

@media(max-width: 700px) {
	.subscribe{
		height: 15vh;
		justify-content: center;
		padding-bottom: 1em;
		display: flex;
		flex-direction: column;
	}

	.showcase-text{
		left: 30%;
		transform: translate(-22%, -50%);
	}
}

@media(max-width: 610px) {
	.service{
		flex-direction: column;
	}
} 