/**{
	box-sizing: border-box;
}*/

body{
	padding: 0;
	margin: 0;
	width: 100%;
	background: #EBEBEB;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.title-text{
	display: flex;
	flex-direction: column;
	letter-spacing: 0.2em;
	justify-content: center;
	align-items: center;
	margin: 5em 0;
}

.title-text > .title{
	margin-bottom: 0;
}

.title-text .view-work{
	cursor: pointer;
	padding: 0.6em 1.6em;
	border: 1px solid #344;
	background: #F5F5F5;
	border-radius: 1em;
}

.title-img img{
	width: 100%;
	height: 100vh;
}


.work-title{
	background: #1F252A;
	width: 100%;
	height: 7vh;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.2em;
}

.work-title p{
	color: #fff;
	font-size: 1.5em;
	margin: auto;
	font-weight: bold;
	padding: 0 0.3em;
	border-left: 1px dotted #fff;
	border-right: 1px dotted #fff;
}

.img-work > img{
	width: 100%;
	z-index: 1;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.img-container{
	text-align: center;
	padding-bottom: 1em;
	box-shadow: 10px 0px 5px gray;
}

.img-doc{
	padding: 1em;
	background: #EBEBEB;
}

footer{
	text-align: center;
}

@media(min-width: 600px){
	.base{
		width: 100%;
		margin: auto;
	}

	header{
		flex-direction: row;
		background: #fff;
	}

	.title-text{
		padding: 1em 2em;
		/*margin-right: 2em;*/
	}

}

@media(min-width: 900px){
	.base{
		max-width: 60%;
		margin: auto;
	}

	header{
		flex-direction: row;
		background: #fff;
	}

	.title-text{
		padding: 1em 2em;
		/*margin-right: 2em;*/
	}

}