*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: mono;
	font-size: 16px;
	background: #24252a;
	color: #edf0f1;
}

a{
	text-decoration: none;
}

.navbar{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 10%;
}

.logo_p{
	margin-left: auto;
	order: 3;
	letter-spacing: 8px;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
}

.navbar_ul li{
	display: inline-block;
}

.navbar_ul a{
	padding: 0 18px;
	transition: all 0.3s ease 0s;
}

.navbar_ul a:hover{
	color: #0088a9;
}

.btn{
	order: 2;
	margin-left: 10px;
	padding: 6px 20px;
/*	border: 1px solid #ddd;*/
	border-radius: 15px;
	background: rgba(0, 136, 169, 1);
	transition: all 0.3s ease 0s;
}

.btn:hover{
	background: rgba(0, 136, 169, 0.8);
}